.formall{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.first input {
    display: inline-block;
    width: 10rem;
    padding: 10rem 0 0 0;
    height: 9rem;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('../../assets/plus.png') center center no-repeat #e4e4e4;
    border-radius: 100%;
    background-size: 60px 60px;
  }
.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.4rem;
    margin-top: 3rem;
}
.second{
    display: flex;
    flex-direction: column;
    margin: 0.4rem;
    /* justify-content: space-between;
    align-items: flex-end; */

}
.second label{
    margin: auto 0.4rem;
    font-weight: 500;

}
.third label{
    margin: auto 0.4rem;
    font-weight: 500;

}
.second .form-group{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
}
.second .form-control{
    justify-content: right;
}
.second input{
    width: 15rem;
}
.second select{
    width: 15rem;
}
.third{
    display: flex;
    flex-direction: column;
    margin: 0.4rem;
}

.third input{
    margin: 0.4rem;
    margin-right: 0;
}

.profile-upload {
    display: inline-block;
    width: 10rem;
    height: 9rem;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}

.popup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 0;
}


.popup-form-btn {
    width: 4rem;
    margin-left: auto;
    margin-right: 1rem;
}

.popup-form-group {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
}

.popup-form-group input {
    width: 15rem;
}

.popup-form-group label {
    margin: auto 0.4rem;
    font-weight: 500;
}

.popup-container {
    display: flex;
    flex-direction: column;
}

.popup-content {
    max-width: 27rem;
}

.popup-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.popup-btn-container p {
    display: inline;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-left: 1rem;
}

.submit-div {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.vaccinations {
    display: flex;
    flex-direction: column;
}

.vaccinationCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #505050;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.vaccinationCard p {
    margin-bottom: 0;
}

.clickable-div {
    cursor: pointer;
}

.plus-symbol {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.2rem;
}