body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-out{
  background-color: #F1F7FF;
  padding: 2rem;
  display: flex;
  flex-grow:1;
  z-index: 10;
}

.container-in{
  background-color: #FFFFFF;
  border: 1px solid #B7B7B7;
  box-sizing: border-box;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 2rem;
  padding: 2rem;
}
button{
  background: #002A6A;
  color: #FFFFFF;
  border-radius: 0.4rem;
  padding: 0.3rem 0.5rem;
  border: #002A6A solid 2px;
}

button:hover {
  cursor: pointer;
}

.sub-heading{
  font-size: 1.5rem!important;
  font-weight: bold!important;
  /* margin: auto 0; */
}
.anchor{
  background: #002A6A;
  color: #FFFFFF;
  border-radius: 0.4rem;
  padding: 0.5rem;
}
.main-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App{
  display: flex;
  flex-grow: 1;
}

.out{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.outer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.lout {
  display: flex;
  flex-grow: 1;
}

.lheader {
  display: flex;
  flex-direction: row;
  /* flex-grow: 1; */
}

.back-div {
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-div:hover{
  cursor: pointer;
}

.back-div img {
  width: 45%;
  /* display: block;
  margin: auto; */
}

.cont-out {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #F1F7FF;
  padding: 2rem;
  z-index: 10;
}

.cont-in {
  display:flex;
  flex-direction: column;
  /* flex-grow: 1; */
  background-color: #FFFFFF;
  border: 1px solid #B7B7B7;
  box-sizing: border-box;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 2rem;
  margin-top: 1rem;
  padding: 2rem;
  padding-bottom: 1rem;
}

.bold-text {
  font-weight: 500;
}

.button-end {
  display: block;
  margin-right: 0;
  margin-left: auto;
}
p, h1, h2, h3, input, button, a {
  font-family: 'Roboto', sans-serif;
}